* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main {
    max-width: fit-content;
    display:flex;
    flex-direction: column;
 
 }

#nav-bar {
    height: 70px;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    display:flex;
    justify-content: space-between;
    z-index: 3;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0px 1px 1px 1px lightgray;
   
}

#nav-btns .nav-button {
    background-color: transparent;
    border: none;
    font-size: 18px;
 
}

#nav-btns {
    min-width: 250px;
    display: flex;
    justify-content: space-around;
    gap: 35px;
}

.nav-item {
    display: flex;
    align-items: center;

}

#hero {
    z-index: 1;
}

.nav-button, #CTA-Button {
    height: 50px;
}

#nav-cta .nav-button, #CTA-Button {
  border-radius: 10px;
  font-size: 16px;
  padding: 15px;
 }

 #nav-cta {
    display: flex;
    gap: 20px;
 }

 #sign-up {
    background-color: bisque;
 }

 #log-in, #CTA-Button {
    background-color: white;
 }

#vpn {
    max-width: 40px;
    max-height: 40px;
    margin-bottom: 10px;
 }

 #hero {
    display:flex;
    background-color:white;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 #logo {
    display:flex;  
    gap:10px;
 }

 /* Hero */

 #hero .col {
    width: 50%;
   
    
 }

.col img {
    width:100%;
    height:auto;
    
}

#img {
    padding-right: 150px;
    height:100%;
}

#text {
    margin: auto 0;
    padding-left: 150px;
}

#CTACatchLine {
    font-size: 50px;
}

#CTAUnderText {
    font-size: 25px;
}


/*Stats code*/
#stats {
    display:flex;
    background-color:bisque;
    justify-content: center;
    gap: 20px;
    z-index: 2;
    box-shadow: 0px 0px 10px rgba(190, 179, 163, 0.6);
    margin:  0 250px;
}
.item .col img {

    
    padding: 30px;
    height:140px;
    width:140px;
   box-sizing: border-box;
}
#stats .item {
    
    display: flex;
    gap: 20px;
    padding: 20px;
}

#serverLink,  #usersLink, #locationLink {
    width:0px;
    height:0px;
}

#logoLink:visited {
    color:black;
    text-decoration: none;
    
}


.col #numUsers, .col #numLocations, .col #numServers {
    font-size: 55px;
    height:35px;
    margin:0px;
}


.col #txtLocations, .col #txtServers, .col #txtUsers {
    font-size: 18px;
    color:gray;
}

.item .col.txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*#users-img, #locations-img, #server-img {
    height:40px;
    width:40px;
}*/

/*Features code*/

#features {
    display:flex;
    padding: 2px 150px;
    margin: 50px 0;
    gap:20px;
    background-color: rgb(255, 255, 255);
}

.col.feat.img {
    width:60%;
    
}
.featGroup {
    display:flex;

}

#featIMG {
    width:100%;

}

.featGroup .check {
    width:30px;
    height:30px;
    align-self: center;
    margin-bottom: 5px;
}

#featMainContent {
    display:flex;
    flex-direction: column;
    justify-content: center;
  
    padding:0;
    box-sizing: border-box;
    padding-left: 60px;
    
    align-self: center;
}

#bigHeader {
    font-size: 40px;
  margin:0;
}

.featItem {
    font-size: 18px;
}

.featGroup  {
    display: flex;
    gap: 10px;
   
}

.featContainer {

}